.container{
	max-width: 750px;
	min-width: 32px;
	margin: 0 auto;
	padding: 60px 0 60px 0;
}
[class^="icon"]{
	display:inline-block;
	background-size: 375px auto;
}

header{
	position: fixed;
	width: 100%;
	height: 50px;
	background: #39435B;
	line-height: 50px;
	max-width: 750px;
	color: #E1E5EE;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
	box-shadow: 0 1px 1px rgba(83,83,83,0.5);
}
header .back{
	float: left;
	margin-left: 10px;
}
.back a{
	display: block;
	width: 30px;
	height: 25px;
	color: #FFFFFF;
	
}
.icon-back{
	background-position:-160px -5px;
}
header em{
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	width: 90px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.cart-list{
	background: #fff;
	margin-bottom:10px ;
}
.container{
	background: #FFFFFF;
}
.container p i{
	color: red;
	position: absolute;
	right: 430px;
}
.cart-items{
	overflow: hidden;
	padding:5px 10px;
	position: relative;
	min-width: 150px;
}
.cart-items dt{
	width:30%;
	min-width: 20%;
	float: left;
	margin-right: 5px;
}
.cart-items dd{
	padding-top: 20px;
	line-height: 1.5;
}
.cart-items dd:last-child{
	color: #c30000;
	margin-top: 10px;
}
.del-item{
	width: 300px;
	height: 20px;
	position: absolute;
	right: 20px;
	bottom: 10px;
}
.del-item a{
	display: block;
	height: 100%;
}
.icon-del{
	background-position: -256px -7px;
}




footer{
	width: 100%;
	max-width: 750px;
	height: 55px;
	text-align: center;
	background-color: #120E0D;
	position: fixed;
	bottom: -1px;
	left: 0;
	right: 0;
	margin: auto;
	padding: 5px 0;
	box-shadow: 0 -1px 1px rgba(128,128,128,0.5);
}
footer li{
	width: 46px;
	text-align: center;
	margin: 0 4.8%;
}
footer li a{
	display: block;
	color: #EFEFEF;
	width: 100%;
	height: 100%;
}
footer li a:focus,footer li a:hover{
	color: #E1E5EE;
}
footer li:first-child a{
	color: #E1E5EE !important;
}
/* 模态框 */
.modals{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	background: rgba(10,10,10,0.8);
	display: none;
}
.modals .dialog{
	width:85%;
	height: 120px;
	border-radius: 5px;
	background:rgba(0, 0, 0, 0.6);
	position: absolute;
	margin: auto;
	z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: #39435B;
}
.dialog h4{
	margin-top: 30px;
	color: #DDD;
}
.dialog span{
	margin: 0 10px;
	margin-top: 20px;
	border-radius: 3px;
	display: inline-block;
	padding: 4px 10px;
	background-color:#b4b4b4;
}
